.barra-abajo{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    text-align: center;
    font-family:"Poppins", system-ui;
    height: 100%;
}
         h2{
         font-weight: bold;
 }
         div 
             p{
                 font-size: 40px;
 }
                 li 
                     img{
                         justify-content: flex-start;
                         width: 3rem;
                         justify-content: space-around;
 }  
