.section-principal{
    h1{
        font-size: 2.5rem;
        text-align: center;
        font-family: "Poppins", serif;
        background: black;
        border: 3px solid transparent;
        background-image: linear-gradient(to right bottom, rgb(255, 255, 255));
        background-clip: text;
        color: transparent;
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            width: 300px;
            transform: translateX(250px);
            background-color: black;
            color: white;
        }
        img{
            width: 300px;
            }
        }
    }
}



   







