.caja-home{
    h3{
        color: $colores-letras-h1;
        text-decoration: underline;
   }
   p{
    color: $colores-parrafos;
   }
}
   img{
     width: 14rem;
     background-color: rgba(255, 255, 0, 0.158);
     color: yellow;
     display: flex;
     flex-direction: column;
     margin: 10px;
     padding: 2px;
     width: min-content;
     flex-wrap: wrap;
        &:hover:{
                transform: scale(1.2);
                transition: all 3s cubic-bezier(.17,.67,.83,.67)2s;  
                }
                button{
                    text-align: center;
                    color:yellow;
                    background-color: rgba(255, 255, 0, 0.463);
                    border: 0cap;
                    padding-top: 20px;
                    padding-right: 10px;
                    border-radius: 20px 20px;
                    box-shadow: 30%;
                }
                button:active{
                    background-color: black;
                    color: white;
                }
        }
.card-home {
    @include card-personalizada($fondo yellow);
        position: absolute;
        border: 2px solid rgba(var(--color-card));
        border-radius: 12px;
        overflow: hidden;
        inset: 0;
        transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
         translateZ(var(--translateZ));
    div{
        img{
            width: 30px;
        }
    }
}
.caja-tienda{
    @include card-personalizada($fondo grey);

    }    
.card-tienda{
    position: absolute;
    border: 2px solid rgba(var(--color-card));
    border-radius: 12px;
    overflow: hidden;
    inset: 0;
    transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
    translateZ(var(--translateZ));
        img{
            width: 30px;
}
}